<!DOCTYPE=html>
<html>
<head>
    <title>
        display images
    </title>
     <style>  
            .gfg { 
                width:auto; 
                text-align:center; 
                padding:50px; 
            } 
            img { 
                max-width:50%; 
                        height:auto; 
            } 

		   .myDiv {
			  margin: 20px auto;
			  background-color: white;
			  text-align: center;
		  }
    </style>
</head>
<body>
<div class = "gfg"> 
    {{first_event}}  {{second_event}}
    {% for hist in hists %}
<!--     <div class="myDiv"> -->
    <img src="{{url_for('static', filename=hist)}}" alt={{hist}} class="myDiv">
   <!--  </div> -->
    {% endfor %}
   </div>
</body>
</html>